node_modules
dist
.git
.vscode
*.log
firebase-data.json
android
ios
tests
cypress
cypress.config.ts
*.keystore
*.mbtiles
*.sql
*.md
Dockerfile*
docker-compose.yml
.eslintrc.cjs
.eslintignore
.browserslistrc
vite.config.ts.timestamp-*
