spring:
  datasource:
    url: jdbc:postgresql://db:5432/route_signalement
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG10Dialect

server:
  port: 8080