spring:
  datasource:
    url: jdbc:postgresql://db:5432/route_signalement
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

firebase:
  api:
    key: AIzaSyBsGVCJ8V2pGN2UnZRQBq2mSgk3uxaLo-I
  database:
    url: https://test-8f6f5-default-rtdb.firebaseio.com